.commentWrapper{
    background-color:  orange;
    width: 100px;
    text-align: center;
    margin-top: 50px;
    border: solid;
    }
    .UserInfo{
        width: 100px;
        height: 150px;
        border-radius: 10px;
        padding-top: 20px;
        border: solid;
        background-color:  orange;
        text-align: center;
    }
   
   

